<div class="header">
    <div class="back-button">
        <button class="btn btn-primary" (click)="goBack()"><i class="fas fa-arrow-left"></i> Voltar</button>
      </div>

    <div class="header-right">
      <div class="user-info">
        <img [src]="loggedInUser?.photo" alt="Foto do usuário" class="user-photo">
        <span>{{ loggedInUser?.name }}</span>
      </div>
      <div class="logout-area">
        <button class="btn" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</button>
      </div>
    </div>
  </div>

  <br><br>

  <div class="page-body">
    <div class="user-send-info">
      <img [src]="userToSendMessage?.photo" alt="Foto do usuário" class="user-send-photo">
      <span>{{ userToSendMessage?.name }}</span>
    </div>
    <div class="container">
      <div class="send-message-area">
        <span class="msg">Mensagem: </span>
        <input type="text" [(ngModel)]="messageToSend" (keyup.enter)="sendMessage()">
        <button class="btn" (click)="sendMessage()"><i class="fas fa-paper-plane"></i></button>
      </div>
      <div class="message-between-users">
        <table>
          <thead>
            <tr>
              <th>Mensagem</th>
              <th>Data</th>
              <th>Enviado por</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let message of messages.reverse()">
              <td>{{ message.message }}</td>
              <td>{{ message.sendDate }}</td>
              <td>{{ message.senderId.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>