<div class="header">
  <div class="search-bar">
    <input type="text" placeholder="Pesquisar" [(ngModel)]="searchKeyword">
    <button (click)="searchUsers()">Buscar</button>
  </div>
  <div class="user-info">
    <img [src]="loggedInUser?.photo" alt="Foto do usuário" class="user-photo">
    <span>{{ loggedInUser?.name }}</span>
  </div>
</div>

<br><br>
  
  <div class="user-list">
    <div class="card-deck">
      <div *ngFor="let user of users" class="card user-card">
        <img [src]="user.photo" alt="Foto do usuário" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <button class="btn btn-primary" (click)="startChat()">Conversar</button>
        </div>
      </div>
    </div>
  </div>
  